<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <style>
        table {
            table-layout: fixed;
            width:90%
        }
        td {
            word-wrap:break-word;
        }
        .alert {
        color:red;
        }
        .form-group {
        margin: 10px 0;
        }
        .form-group input {
        width:250px;
        height: 25px;
        border-radius:3px;
        }
    </style>
</head>
<body class="container">
    {% block content %}{% endblock %}
</body>
</html>